@use "../../node_modules/bootstrap/scss/bootstrap.scss" as bootstrap;
@use "./bootstrap-overrides.scss" as bootstrapOverrides";
@use "./variables.scss" as variables;
@use "./Login.scss" as Login;
@use "./TopNavigation.scss" as TopNavigation;
@use "./Sidebar.scss" as Sidebar;
@use "./Loader.scss" as Loader; 

label {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

.app-container {
  overflow-x: hidden;
}

.app-content {
  margin-right: 0;
  flex: 1;
}

.app-content.open {
  margin-right: 250px;
  transform: translateX(250px);
  width: calc(100% - 250px); /* Adjust to match your sidebar width */
}
